<div class="invitation-container">

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag("violet2.png", class: "img-circle force-left") %>
        <%= image_tag("disco-ball.gif", size: "200x200", class: "center-block") %>
        <%= image_tag("violet1.png", class: "img-circle force-right") %>
        <div class="message-container text-center">
          <% party = @guest.party %>
          <h3>Hello <%= @guest.name.chomp %>!</h3>
          <h3> You are invited to the <%= party.title %></h3>

          <p><b>Description:</b>  <%= party.description %>         </p>
          <p><b>Start time:</b>   <%= party.start_time %>          </p>
          <p><b>End time:</b>     <%= party.end_time %>            </p>
          <p><b>Location:</b>     <%= party.location %>            </p>
          <p><b>Contact info:</b> <%= party.contact_information %> </p>
        </div>

        <%= image_tag("dancefloor.gif", class: "center-block") %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Are You In?</h1>
        <%= form_for(@guest) do |form| %>
          <% if @guest.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this invitation from being saved:</h2>
              <ul>
                <% @guest.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.hidden_field :going, value: 1%>
          </div>

          <div class="actions">
            <%= form.submit "Yes", class: "btn btn-lg btn-success"  %>
          </div>
        <% end %>
        <br>

        <%= form_for(@guest) do |form| %>
          <% if @guest.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this invitation from being saved:</h2>
              <ul>
                <% @guest.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.hidden_field :going, value: 0 %>
          </div>

          <div class="actions">
            <%= form.submit "No", class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
